[2018-11-01 15:21] Ciantic opened #1 "Can't find psalm.xml"
I'm testing this plugin, I have installed psalm globally, it works from the command line.

However the extension keeps giving me the "No psalm.xml config..."

![image](https://user-images.githubusercontent.com/64731/47860988-750aba80-ddfa-11e8-8c17-2da624a2f78c.png)

I also tried without workspaces:

![image](https://user-images.githubusercontent.com/64731/47861157-d3d03400-ddfa-11e8-8de0-54c54f31

[2018-11-01 16:12] muglug commented on #1
High likelihood of it being a Windows issue - I’ll fire up a machine, likely tonight, for testing

[2018-11-19 09:41] itskevinsam commented on #1
experiencing same issue in windows.

[2018-11-19 13:37] muglug commented on #1
I was delinquent testing - I identified what was causing this problem ([path](https://github.com/psalm/psalm-vscode-plugin/blob/18cbfc325b6af4f7dabc411056995952d5b2f76d/src/extension.ts#L64) should actually be `fsPath`), but not Windows compatibility in general. Will hopefully have a fix today.

[2018-11-20 05:16] muglug commented on #1
Thanks for your extreme patience - the latest version of both Psalm and this plugin (3.0.1 and 0.6.0 respectively) contain fixes for windows. Tested, very slowly, on VS Code running under VirtualBox on a Mac.

[2018-11-20 05:16] #1 closed

[2018-11-20 13:47] Ciantic opened #2 "Can't start the language server (Windows)"
It doesn't give me anymore psalm.xml error but it does not give any errors.

I'm using global psalm setting:

settings.json
[code]

I can see that it starts the Psalm-language-server:

![image](https://user-images.githubusercontent.com/64731/48777554-81888180-ecdb-11e8-9d31-8f0c4fc08002.png)

But after that it says it can't find documents, even though I browse the files.

psaml from the command li

[2018-11-20 13:54] muglug commented on #2
hmm what happens if you use `vendor\vimeo\psalm\psalm-language-server` as your script path?

[2018-11-20 13:54] muglug commented on #2
(with the rest of the path as well)

[2018-11-20 13:56] muglug commented on #2
That message isn't coming from the Psalm extension - I found an issue with a similar message here: https://github.com/Microsoft/vscode/issues/21397

[2018-11-20 13:58] Ciantic commented on #2
Yes, the message is false flag. But it still doesn't work.

![image](https://user-images.githubusercontent.com/64731/48778100-01631b80-ecdd-11e8-8c63-b163e5f6fb82.png)

I think it's not even starting the psalm language server. If I write gobdley gook there it doesn't give error.

Notice that Windows needs a bat file to start node program.

[2018-11-20 14:03] Ciantic commented on #2
Also, I see this:

![image](https://user-images.githubusercontent.com/64731/48778400-c0b7d200-ecdd-11e8-8055-2a47ba6ecb45.png)

Which probably indicates it could not start the language server, and the extension can't connect to it.

[2018-11-20 14:17] muglug commented on #2
And this is with Psalm 3.0.1?

[2018-11-20 14:31] muglug commented on #2
Is the PHP process active?

[2018-11-20 15:41] Ciantic commented on #2
It seems to be active, I can see in the process explorer:

[code]

[2018-11-20 16:04] muglug commented on #2
Could you try installing in a single project and see if that fixes?

I haven't tried a global composer install, but I just cloned Psalm's repo to a local folder and used it from there without a problem e.g.

[code]

[2018-12-26 17:11] newlinkcapital opened #3 "Nothing happening, no linting, no errors."
Hi, I installed the plugin, then I installed psalm using composer and I created a psalm.xml file that looks like this.

`<?xml version="1.0"?>
<psalm>
    <projectFiles>
        <directory name="app" />
    </projectFiles>
</psalm>`

I dont see any linting going on in my project. should this configuration suffice?

[2019-02-04 17:13] adammarton commented on #3
Can confirm, all I can see in the debug log is:

[code]

No errors, no nothing. Windows, latest VSCode/Psalm.

[2019-02-20 17:54] AdamMarton commented on #2
Hi @muglug,

Is there anything I can help with regarding this?
Unfortunately Psalm is the only analyzer I can't use in my IDE.

Could you please give me some hints where to start?

[2019-02-21 00:51] muglug commented on #2
I’m sorry - there’s a lot of work being done on Psalm, but not a ton here. I had hoped to spend last weekend working on Windows stuff, but got sidetracked. This coming Saturday, maybe!

[2019-02-22 13:52] muglug commented on #2
@AdamMarton could you publish a repo that reproduces the error?

I'm not able to reproduce (on Windows 10 in VS Code) with repos originally designed to work on *nix/macs, but I might be missing something.

[2019-03-17 01:29] JaPawel opened #4 "Request textDocument/definition failed."
Not sure is it the extension or `vimeo/psalm` lib, but I get from time to time `Request textDocument/definition failed.` errors (only in VSCode when extension is enabled, never when called psalm directly via command line)

[code]

This one is for `bool`, but for others I get errors too.

[2019-05-13 10:22] AdamMarton commented on #3
More context:

Without actually requiring Psalm in the given folder/project in VSCode, you have to set `psalm.psalmScriptPath` to point your global `vendor\bin` path, otherwise you'll get the following error:

[code]

where `psalmScriptPath` is the currently opened folder + `\vendor\bin\psalm-language-server`.

Enabling debug just displays this:

[code]

Can we get some update on how to configure

[2019-05-14 19:04] iluuu1994 commented on #3
It doesn't work for me either. All I get is these:

[code]

@muglug Can I provide you any logs that could be useful?

[2019-05-15 03:49] muglug commented on #4
Fixed in https://github.com/vimeo/psalm/commit/a34692fca0ce54be05a5d7ffbff8ee8bfd4867dd

[2019-05-15 03:49] #4 closed

[2019-05-15 03:51] muglug commented on #3
@AdamMarton ah, it's sort of assumed that Psalm is also installed in your project, but I should include it in the instructions

[2019-05-15 03:52] muglug commented on #3
@iluuu1994 are you on Mac or Windows?

[2019-05-15 05:42] AdamMarton commented on #3
I've also tried that as well. That still not helps.

[2019-05-15 07:20] iluuu1994 commented on #3
I'm on macOS.

[2019-05-22 08:26] iluuu1994 commented on #3
Suddenly works, please don't ask me why 🤷‍♂ I changed nothing.

[2019-05-22 08:57] AdamMarton commented on #3
Unfortunately I cannot say the same :/

[2019-05-28 12:22] Horttcore opened #5 "No psalm.xml config found in project root"
That is true, but I got a psalm.xml config in a subfolder. Maybe the plugin could search for any psalm config in the project and run that folder against it?

[2019-06-14 15:13] glen-84 commented on #2
It's not working for me either, even on a tiny project. 😞

@muglug Are you using config like this?

[code]

[2019-06-14 17:03] glen-84 commented on #2
I figured out the problem, eventually:

The extension runs `php /path/that/you/configured --tcp=127.0.0.1:54679`, so `psalm.psalmScriptPath` must refer to a PHP file, and not to a shell script in the `bin` directory.

[code]

Works. However, it seems incredibly slow in a project with literally 1 PHP file. 🤷‍♂

[2019-07-11 12:54] ADmad commented on #2
Given that the extension seems required path to php script instead of an executable, how can I use the `pslam.phar` to run the language server for this extension?

[2019-07-11 12:57] ADmad commented on #2
Also the extension setting help (shown through VSCode's Settings) and [this](vendor/bin/psalm-language-server) should be updated to not show path like `vendor/bin/psalm-language-server` as it's quite misleading.

[2019-07-11 13:02] ADmad commented on #3
@AdamMarton As pointed out [here](https://github.com/psalm/psalm-vscode-plugin/issues/2#issuecomment-502188774) the `psalmScriptPath` setting needs to point to a php file not the executable under `bin`. The help text is misleading.

[2019-07-11 13:06] AdamMarton commented on #3
I've already tried this. Psalm bails out when I'm using that executable:
![image](https://user-images.githubusercontent.com/5418343/61053253-82e2f780-a3ed-11e9-816d-ecd81d2e25d4.png)

[2019-07-11 13:23] ADmad commented on #3
You are **not** supposed to use an executable.

[2019-07-11 13:23] AdamMarton commented on #3
Thanks, @ADmad I've re-read the linked comment and you were right. Now at least I have errors everywhere in the devtools.

[2019-07-11 13:29] AdamMarton opened #6 "`file_put_contents()` error in `FileReferenceCacheProvider`"
After [figuring out](https://github.com/psalm/psalm-vscode-plugin/issues/3#issuecomment-510483292) how to fire up Psalm VSCode plugin, I'm getting the following error:

[code]

[2019-07-11 13:31] muglug commented on #6
That’s a bug in Psalm (but should be a one-time innocuous thing). Should be fixed in the next release.

[2019-07-11 13:37] AdamMarton commented on #6
Hi @muglug , thanks for the quick turnaround.
Can you say the same about undefined classes? Because that's the very next error in devtools.

[2019-07-11 13:42] muglug commented on #6
What classes are complained about?

[2019-07-11 13:46] AdamMarton commented on #6
This is a WordPress project with its own plugins which are referencing each other. This is fine in WordPress, but it isn't help during static analysis.

DevTools shows a 37 nodes backtrace, like this:

[code]

[2019-07-11 13:49] muglug commented on #6
Does Psalm run on the codebase on its own?  (not inside VS Code)

[2019-07-11 13:56] AdamMarton commented on #6
I've almost told you it is, but fortunately ran it before sending my comment.

No, it doesn't (and it used to work with this code).

[2019-07-11 15:10] muglug commented on #6
The original issue you mention is now fixed in Psalm master

[2019-07-11 15:10] #6 closed

[2019-07-11 15:11] muglug commented on #6
Please first check that the new issue isn't fixed in Psalm's latest master, then ticket the Psalm failure at https://github.com/vimeo/psalm (and if you can identify when Psalm started to fail, all the better).

[2019-07-11 15:12] muglug commented on #3
@ADmad @AdamMarton would you be able to PR to improve the language? I don't know how best to communicate to Windows users.

[2019-07-11 15:40] ADmad commented on #3
@muglug I don't think the issue has much to do with Windows (nor am I personally interested in Windows, I use Linux).

As I commented [here](https://github.com/psalm/psalm-vscode-plugin/issues/2#issuecomment-510473240) I want this VSCode plugin to use the language server available through the psalm.phar. I don't think that's currently possible.

[2019-07-11 15:41] muglug commented on #3
`path/to/psalm.phar --languague-server` should work

[2019-07-11 15:42] muglug commented on #3
`path/to/psalm.phar --language-server` should work

[2019-07-11 15:46] muglug commented on #2
@ADmad not sure what page you're trying to link to

[2019-07-11 15:49] ADmad commented on #3
It doesn't, VSCode throws error. I'll provide a screenshot once I get to a PC.

[2019-07-11 15:51] ADmad commented on #2
Sorry, I meant to link this docs page https://psalm.dev/docs/running_psalm/language_server/

[2019-07-11 18:09] ADmad commented on #3
This is the error I get trying what you suggest:

![Screenshot from 2019-07-11 23-28-40](https://user-images.githubusercontent.com/142658/61074018-58685d00-a434-11e9-8246-2e91f1147199.png)

Config set as `"psalm.psalmScriptPath": "../../../../home/admad/bin/psalm.phar --language-server"`. (Also it treats all paths as relative hence the preceding `../`s).

[2019-07-12 04:05] mriccid commented on #5
I'm running into the same problem. It would be great if the plugin was able to find psalm.xml in ancestor folders or allow for the path to be configured for a workspace.

[2019-12-09 22:38] beaucollins commented on #3
I was able to get things up and running with the changes proposed in #7.

[2019-12-09 22:40] beaucollins commented on #2
Perhaps give #7 a try, I was able to get VSCode to show the Psalm errors/warnings with it.

[2020-01-02 22:58] Horttcore commented on #5
Any Feedback would be nice, or is it dead?

[2020-01-03 03:28] muglug commented on #5
Not quite dead - though maintaining this plugin is not a huge priority for me (most of my open-source time is instead dedicated to `vimeo/psalm`). If you know Javascript I encourage you to update the plugin to do that searching, and submit a PR – I'll gladly accept.

[2020-01-04 19:50] glen-84 commented on #2
@muglug,

The issue can be fixed on Windows with this change in `src/extension.ts`:

[code]

It takes quite a long time for the errors to show up, which is unfortunate.

I hope that this extension gets some ❤️ in 2020.

[2020-01-04 20:28] muglug commented on #2
@glen-84 that seems like something you could PR!

[2020-01-04 21:19] muglug commented on #2
nevermind, I patched that and bumped the version to 1.0.0

[2020-01-04 21:53] muglug commented on #3
Going to close this, absent any new info

[2020-01-04 21:53] #3 closed

[2020-01-04 21:53] muglug commented on #2
Closing this

[2020-01-04 21:53] #2 closed

[2020-01-31 11:00] kale1d0code opened #9 "reports errors for files outside of projectFiles directory"
From my understanding the plugin should only run against files or directories stated within the projectFiles tag in the config but psalm is reporting problems for files outside of this directory.

I have also tried putting @psalm-suppress in a docblock without an error type at the top of a file I don't want psalm to process.
This works until I save a change within a file.

[2020-02-16 11:11] d-damien commented on #9
Use case : wordpress plugin creation.

Put psalm.xml in wordpress root, add "wp-content/plugins/your-plugin" as a project dir. Sometimes you need to open a wp core file to understand its inner working. Psalm plugin will also show errors for this file − and they won't disappear from the console even after closing the file.

It's a minor disturbance though. Overall I've found Psalm to be a lot easie

[2020-02-18 18:58] d-damien opened #10 "Show error name"
Right now, there is only a description, and finding the corresponding [doc](https://psalm.dev/docs/running_psalm/issues) paragraph with the examples and all is not always obvious. One loses time trying to guess the exact error name.

I believe Vscode now allows for embeded links as well ; see microsoft/vscode#11847. An anchor link on the name would be a nice addition.

Thanks.

[2020-04-16 14:05] pristinesource commented on #10
See: https://github.com/psalm/psalm-vscode-plugin/pull/13 and https://github.com/vimeo/psalm/pull/3161

😄

[2020-04-20 13:02] pristinesource commented on #10
It looks like the PR for vimeo/psalm that allows links for error codes has been merged in, but the PR for this project to allow that has not been reviewed yet.  It looks like this project has not been updated in several months.  I will give it a few more days, and if there is still no activity by then, I will fork it with the updates and publish it as a new vscode plugin.

[2020-04-20 14:05] muglug commented on #10
How about I make you a maintainer instead?

[2020-04-20 14:07] muglug commented on #10
There are a number of satellite projects of Psalm (various plugins) and keeping track of all of them (and triaging/fixing Psalm bugs too) is slightly sapping my sanity, but I’m very happy to delegate.

[2020-04-20 14:19] pristinesource commented on #10
@muglug that would be awesome! I would love that!! Thank you!!!

[2020-04-21 13:21] pristinesource commented on #10
@d-damien  We are close to getting this ready, I have created a new release for this plugin and will get it published to the VS Code Marketplace soon (with some help from @muglug).  Also, make sure you use the newest version of Psalm once the new release is created (it will be > v3.11.2).  The current release version (which is v3.11.2) does not have the new options for this feature, so you will no

[2020-04-21 13:26] muglug commented on #10
@pristinesource to that point, did you see my email?

[2020-04-21 13:28] pristinesource commented on #5
@Horttcore, it looks like there is a now configuration option for this extension called `psalm.configPaths` that allows you to specify the path to your config file.  Also, VSCode allows for setting any configuration values for extensions per workspace, so you should be able to set the `psalm.configPaths` for each workspace to your desired value.

Does this achieve what you need?  If so, I will clo

[2020-04-21 13:35] pristinesource commented on #10
@muglug Just got it, I think we were thinking the same thing at the same time, lol.

[2020-04-21 21:19] d-damien commented on #10
You're both awesome. Thanks.

[2020-04-22 20:21] pristinesource commented on #10
@d-damien The new version of the plugin has been published to the visual studio market place.  I am going to go ahead and close this ticket now.  I hope you enjoy it!!!!! 😄

[2020-04-22 20:21] #10 closed

[2020-04-22 20:47] muglug commented on #10
Thanks for publishing! FYI I generally close tickets in vimeo/psalm when the ticket has been fixed in master, not only when there’s a release available with the fix

[2020-07-22 13:18] binarious opened #16 "Hide warnings"
I'm using psalm with `errorLevel` 2. This results in errors from level 1 to be shown with yellow warnings. Is there a way to hide these?

[2020-08-07 14:01] huchim opened #17 "Ignores `php.executablePath` VSCode configuration"
Hello!

I'm receiving this message from extension `v1.2.2`:

I created a new entry in my `settings.json` file with `php.executablePath` but VSCode say "unknown configuration Setting".

Add PHP directory to `$PATH` works fine but not using VsCode configuration.

[code]

[code]

[code]

Thanks!

[2020-08-07 14:12] pristinesource commented on #17
@huchim You will want to use the following config options for Psalm:
[code]

The other settings you have there are for the built in PHP syntax and validation in VSCode.  You will still need to have the values as you have set there, although it may be beneficial to have `php.validate.enable` set to `true` unless you are using a different PHP validator such as "PHP IntelliSense" (https://marketplace

[2020-08-07 14:20] pristinesource commented on #17
@huchim Indeed the error message you got is correct because it says the wrong config key, and I will make a bug report for it so it can be fixed during the next release.  Thank you for letting us know! 😉

[2020-10-03 23:16] nmsmith22389 opened #21 "Extension linting does not update in VSCode"
In my project when the Psalm language server starts running it will underline linting errors. But then those linting errors do not update when the page code shifts.

I checked the Dev Tools and the language server does not crash and is still running. But one weird thing I noticed was that when the language server is started it is started with `--use-extended-diagnostic-codes` and `--verbose` despi

[2020-10-09 06:39] nmsmith22389 commented on #21
It seems to break in `vimeo/psalm@v3.16.0`... `v3.15.0` seems to work fine.

[2020-10-18 08:22] 9brada6 commented on #21
Can also confirm thinks, thanks for the info to which version to use.

[2020-10-19 16:48] muglug commented on #21
This was broken by https://github.com/vimeo/psalm/commit/1d13d282229e9dc82bae894f330ba0432f50d0c8 cc @orklah – not sure what in there caused it

[2020-10-19 17:11] orklah commented on #21
My best guess would be a method that declare returning a string and actually return an object with __toString. If the actual object is expected by someone, it would break. I would have expected Psalm to pickup on that however...

I'm trying to look

[2020-10-19 17:14] muglug commented on #21
Don't bother, it's literally the dumbest thing: https://github.com/vimeo/psalm/commit/32787169d7e3c2bbd8a33e1d1351cf24bb017836

[2020-10-19 17:14] muglug commented on #21
Something is reading docblocks explicitly 🙃

[2020-10-19 17:17] muglug commented on #21
Specifically this: https://github.com/felixfbecker/php-advanced-json-rpc/blob/7eae8181bffe0e04df51682171e56e2bba533161/lib/Dispatcher.php

[2020-10-19 17:18] orklah commented on #21
:o

Impressive, I could have searched for a while!

How did you find the issue?

[2020-10-19 17:19] muglug commented on #21
trial and error, removing changes from the diff

[2020-10-19 17:24] orklah commented on #21
ouch, that hurts :(

Sorry for that

[2020-10-19 19:31] muglug commented on #21
You weren't to know (neither was I)!

Psalm 3.18 has the fix, closing this.

[2020-10-19 19:31] #21 closed

[2020-10-23 03:35] xdhmoore opened #22 "How does this plugin work with the baseline file?"
I have created a baseline file using the psalm cli, but the vs code plugin doesn't seem to be using it. It just displays all the errors, even those I want it to ignore. It does seem to be picking up my psalm.txt file ok though. I looked for an '--ignore-baseline' argument in the plugin code but I didn't see anything. Maybe the language server doesn't respect the baseline file?

[2020-11-21 13:12] sanmai-NL commented on #5
@Horttcore: could you respond to the previous message, please?

[2020-11-22 01:29] muglug commented on #5
Closing this in the meantime

[2020-11-22 01:29] #5 closed

[2020-12-04 14:48] purplep2 opened #24 "Exception when running psalm language server"
Hi, I'm trying to run Psalm analysis on WordPress in VS Code.
However, I encountered an exception thrown, causing Psalm to crash:
Uncaught InvalidArgumentException: Could not get class storage for domdocumentfragment in /vendor/vimeo/psalm/src/Psalm/Internal/Provider/ClassLikeStorageProvider.php:42

[2020-12-17 14:44] Danysan1 opened #25 "Security ("runTaintAnalysis") results not shown"
In `psalm.xml` I have enabled the [`runTaintAnalysis`](https://psalm.dev/docs/running_psalm/configuration/#runtaintanalysis) parameter [to enable SAST](https://psalm.dev/docs/security_analysis/):

[code]

If I run `psalm` from CLI I get various taint alerts, for example:
[code]

If I visit this file with VSCode and the psalm plugin enabled, however, I see other alerts from Psalm but not the taint/

[2020-12-21 17:18] Danysan1 commented on #25
The root of this problem is in Psalm itself as apparently its creators don't intend to implement it into the language server (see https://github.com/vimeo/psalm/pull/4869 ), closing this.

[2020-12-21 17:18] #25 closed

[2020-12-21 17:19] muglug commented on #25
Yup, sorry about that – on Vimeo's codebase, for example, taint analysis takes a few minutes to run. That's not sustainable in an IDE!

[2021-01-10 18:15] Danysan1 commented on #25
Taint analysis could be configuratede separately for the language server (for example with an argument like `languageServerTaintAnalysis` or `forceTaintAnalysis`). This way taint analysis could be enabled for language server only if the codebase is small enough while enabled separately for CLI. If I proposed a pull request with this would you merge it?

[2021-01-15 00:41] zdmitchell opened #26 "Errors when viewing commit diff"
In VS Code, I often like to look at a commit diff. Every time I open a commit diff for a PHP file, the output window pops up with Psalm errors.

The error code is `32603`, with message: `Message: InvalidArgumentException: Not a valid file URI`. It then gives the file name, which is something like: `git:ABSOLUTE_FILE_PATH?%7B%22path%22:%22ABSOLUTE_FILE_PATH%22,%22ref%22:%22COMMIT_HASH%22%7D`.

Obvi

[2021-01-24 10:33] designermonkey opened #28 "No psalm.xml config found in project root"
This is happening for every single project I open in vs code, whether it is a PHP project or not.

Please would you silence this error.

[2021-01-28 08:31] camlafit opened #31 "Provide plugin on open-vsx.org"
Hello

Could be possible to provide plugin on open-vsx.org market place ? Could be useful to use it with vscode fork as vscodium.
More information about this :
https://github.com/VSCodium/vscodium/blob/master/DOCS.md#extensions-marketplace

Thanks a lot

[2021-01-28 17:36] jonorozcoc opened #32 "Update cache on composer.json change"
The plugin works correctly until I install a new package and use any code from the package saying the object doesn't exists

Could be possible to reload files when composer.json changes?

[2021-02-06 18:10] thomasbley opened #33 "Support for using psalm phar archive as language server"
1)
I've tried to set psalm.psalmScriptPath to the location of the psalm 4.4.1 phar file. This did not work (psalm started regular check instead of language-server).
Version psalm-vscode-plugin 1.2.2
Vs-code 1.52.1

Using psalm as a composer library worked as expected.

2)
There seems to be a fix in current master branch, so I compiled the extension from current master and loaded this in vs-code.
L

[2021-02-06 18:17] thomasbley commented on #31
This is very useful for forks of vs-code (e.g. Eclipse Theia, code-server https://github.com/cdr/code-server), which are not allowed to use VS-Code marketplace.

Quoting from https://github.com/cdr/code-server/blob/v3.8.0/doc/FAQ.md#differences-compared-to-vs-code
[code]
Also: https://github.com/cdr/code-server/blob/v3.8.0/doc/FAQ.md#how-do-i-configure-the-marketplace-url

So having psalm-vscode-p

[2021-02-06 19:13] thomasbley opened #34 "Autocomplete for PHPUnit 9.x"
I'm using psalm-vscode-plugin v1.2.2 with vs-code 1.52.1 (and code-server 3.8.1) and tried to get auto-complete working for phpunit 9.x (loaded as composer library). E.g. assertTrue() cannot be autocompleted from PHPUnit\Framework\TestCase -> PHPUnit\Framework\Assert.
When I type assertTrue manually, detecting invalid parameters works.

![Screenshot_20210206_200602](https://user-images.githubuserc

[2021-02-12 18:41] thomasbley commented on #34
happens with psalm 4.4.1 and psalm 4.5.1

[2021-02-18 16:38] jonorozcoc opened #35 "Project maintainer or collaborator"
Hi,

First at all, this is an awesome VSCode extension and Psalm it's a good tool.

I use it on many of my projects and I want to improve it in order to make a better experience using the extension. I would like to contribute to the project as maintainer or collaborator in order to move faster to marketplace

I hope to work on this project!

[2021-02-27 16:29] muglug commented on #34
Ah this is actually a but with the language server, closing in favour of https://github.com/psalm/psalm-vscode-plugin/issues/34

[2021-02-27 16:29] #34 closed

[2021-02-27 17:41] muglug commented on #34
Sorry, meant https://github.com/vimeo/psalm/issues/5295

[2021-06-23 15:54] tm1000 opened #42 "is this project dead?"
Serious question. Psalm itself is alive. But the last release of this plugin was 4/22/2020, since then there's been numerous PRs merged but no releases. Is there a release manager? or someone in charge of building this and putting it into the Marketplace?

@pristinesource @muglug

[2021-06-23 17:01] tm1000 commented on #28
Fixed with #29

[2021-06-23 18:11] muglug commented on #42
Not dead, but definitely dormant. If you want to become a maintainer LMK!

[2021-06-23 18:13] tm1000 commented on #42
@muglug I'd love to be a maintainer! You can check my github page to see that I regularly contribute to open source projects here on github. I used to work for Sangoma (Maintainers of FreePBX) as the lead engineer/director as well.

As far as giving contributor rights here would I also need contributor on the Marketplace?

[2021-06-23 19:04] tm1000 commented on #42
@muglug Hey Matthew, Let me know how to reach out to you. I followed you on twitter (@tm1000) if you wanna discuss anything in private

[2021-06-24 16:02] tm1000 commented on #42
@muglug My work associate @GameGamer43 would like to co-maintain this with me as well. The more people the better!

[2021-06-25 14:26] muglug commented on #42
I've added you both!

[2021-06-25 14:26] #42 closed

[2021-06-28 21:37] tm1000 commented on #16
@binarious So to do this it has to be initiated on the server, we could do this a few different ways

1. Add a flag to the server `--disable-info`, allowing one to turn it off in VSCode settings
2. Add config option to Psalm.xml (probably not a good idea)
3. Utilize a psalm.rc file (this would probably be confusing)

Will probably need to go with option 1

[2021-06-28 21:39] tm1000 commented on #9
Do you not want to see these errors at all?

(Note the errors actually come from the main project, not this project, though the implementation is wrong as its just spitting out an unparsable error: https://github.com/vimeo/psalm/blob/9e9413da6d490c630b0a997f40fdd938cfe10c65/src/Psalm/Internal/LanguageServer/Server/TextDocument.php#L64)

[2021-06-28 21:42] tm1000 commented on #22
The language server is sent psalm.xml not psalm.txt. Maybe you mistyped this in this issue?

[2021-06-28 21:46] tm1000 commented on #26
Help me to duplicate this. I'm right clicking on a file in my project then clicking "Commit Changes" then clicking "Open Changes with previous revision" and this is not triggering any event from VSCode to the Language server so I can't seem to replicate it

[2021-06-28 21:49] tm1000 opened #43 "Language Server does not support didOpen, didClose, didSave events"
Because the server does not support these events there is a noticeable lag between opening a file and something actually happening. This is because the file is not analyzed until a hover or change event. Which is even stranger.

This will be fixed with: https://github.com/vimeo/psalm/pull/6010

[2021-06-28 21:51] tm1000 commented on #31
I'll look into this once I get the extension republished on the Microsoft marketplace

[2021-06-28 23:30] tm1000 commented on #32
Ideally this would have to run *after* you've updated composer.json and run composer update. Looks like we need to hook into `workspace/didChangeWatchedFiles` for this to work (which should re-analyze)

[2021-06-29 00:55] tm1000 commented on #32
Requires https://github.com/vimeo/psalm/pull/6014

[2021-06-29 01:33] tm1000 opened #47 "2.0 Release"
### Features

- [X] Fix settings pane to be more graphical
- [X] Mock StreamWriter so that logging of output from language server actually logs in verbose mode
- [X] Fix #30 to not blow up because of https://github.com/vimeo/psalm/pull/6007
- [X] Add setting to "Index" workspace (Just calls same method as in #30 for now)
- [X] Add support for `onSave`, `onOpen`, `onClose` (see https://github.com/v

[2021-06-30 00:39] tm1000 opened #48 "3.x Release"
### Features

- [ ] Support `quickfix`

[2021-07-11 19:31] #43 closed

[2021-07-14 01:58] xdhmoore commented on #22
I probably meant psalm.xml, but I no longer work for that organization, so I can't reproduce it at this point.

[2021-07-14 02:01] tm1000 commented on #22
All good. Thanks for the update!

[2021-07-14 02:01] #22 closed

[2021-07-17 05:08] zdmitchell commented on #26
Weird. I'll close this while I look into coming up with some repro steps. Maybe it's something with my environment.

[2021-07-17 05:08] #26 closed

[2021-07-28 10:45] frnnds opened #64 "Stuck with "Psalm: starting""
I'd downloaded paslm and this extension, and I've stuck with "Psalm: starting" text on the status bar.

Output says

[code]

Psalm is working properly, project has psalm.xml.

[2021-07-28 16:45] tm1000 commented on #64
Hi there can you tell me a little bit more about your environment? Windows or Linux etc?

[2021-07-29 08:54] frnnds commented on #64
Hi. Linux, psalm installed from composer. Psalm version is `4.8.1@f73f2299dbc59a3e6c4d66cff4605176e728ee69`.

For the testing I've created a simple folder with src folder with one file in it, which contains var_dump function calling, and set psalm level  to the '1'. Psalm from cli successfully found that error.

[2021-08-02 21:18] tm1000 commented on #64
Theres two versions of Psalm in the VS Code Marketplace because of issues with Marketplace itself. One is version 2.0.3 and one is 1.x can you let me know which version you are running?

If you are running 2.0.2 then upgrade to 2.0.3. I havent updated the 1.x series yet only because I didnt have access to it until last Friday

[2021-08-02 21:40] #17 closed

[2021-08-03 07:48] frnnds commented on #64
Yea, thanks, It works.

[2021-08-03 07:48] #64 closed

[2021-08-03 19:29] #28 closed

[2021-08-03 19:30] #32 closed

[2021-08-03 21:54] thomasbley opened #71 "Support for absolute paths for Psalm Client Script Path and Psalm Script Path"
Workspace relative paths are working (e.g. bin/psalm_4910.phar),
but absolute paths (e.g. /home/foobar/bin/psalm_4910.phar) give the error message "Psalm is not installed".

I guess this line might get a fallback for absolute paths:
https://github.com/psalm/psalm-vscode-plugin/blob/b5100e21d43f8724a45a083fe588c7223725233c/src/LanguageServer.ts#L601

I suggest to rename "Psalm Client Script Path" t

[2021-08-03 21:55] thomasbley commented on #33
Using the psalm phar archive works now using workspace relative paths in the settings.

Tested with:
php 8.0.9
psalm 4.9.1 (phar)
vscode 1.58.2
vscode extension v2.0.5

[2021-08-03 21:55] #33 closed

[2021-08-03 21:56] tm1000 commented on #71
I think we should support absolute paths it just didnt appear to be working the way you have it working according to #33

[2021-08-03 21:57] tm1000 commented on #71
As you are the author of #33. Ok I will get to making this work with absolute paths It's not too hard to figure out (slash on front or not would be the difference)

[2021-08-11 23:26] thomasbley opened #77 "Set vscode minimum version to 1.57.1"
Currently package.json defines: "vscode": "^1.58.1", "@types/vscode": "^1.58.1",

Unfortunately, forks of vscode are not always up-to-date with the latest version of vscode. E.g. code-server is currently 1.57.1 which makes the extension fail on install (https://github.com/cdr/code-server/releases). Changing the version in package.json and recompiling makes the installation successful.

Therefore,

[2021-08-12 04:20] tm1000 commented on #77
Hi there!

Yeah I jumped the gun a little bit because of dependencybot. I'll have it ignore that moving forward and jump back a few versions of vscode as there's nothing I'm using from the new stuff

[2021-08-12 04:22] tm1000 commented on #31
So I tried signing up on eclipse and it basically blocked me. The email to register takes 24 hours to get into my inbox. By the time I click the link it tells me my account is invalid.

I'll try a few more times but so far it seems like the eclipse servers are overloaded

[2021-08-13 23:55] tm1000 commented on #77
Fixed in https://github.com/psalm/psalm-vscode-plugin/releases/tag/2.0.6

[2021-08-13 23:55] #77 closed

[2021-08-14 00:10] tm1000 commented on #31
All done! https://open-vsx.org/extension/getpsalm/psalm-vscode-plugin

[2021-08-14 00:10] #31 closed

[2021-08-14 04:31] thomasbley commented on #33
https://github.com/vimeo/psalm/issues/6301

[2021-08-14 14:26] camlafit commented on #31
Hello

Perfect. It's now installed :)
Thank a lot

[2021-08-14 22:09] tm1000 commented on #71
Fixed in 2.1.0

[2021-08-14 22:09] #71 closed

[2021-08-14 22:47] tm1000 commented on #35
Hi there! I'm maintaining it now but if you want to be a co-maintainer just reach out to @mattbrowndev on twitter!

[2021-08-14 22:47] #35 closed

[2021-08-14 22:48] tm1000 commented on #24
I've been unable to replicate this on newer versions of Psalm (4.9.x)

[2021-08-14 22:48] #24 closed

[2021-08-14 22:52] tm1000 opened #79 "2.5 Release"
### Features

- [x] Figure out if it's possible to auto deploy to marketplace (good idea or bad)

### Awaiting Upstream PRs:

[2021-08-14 22:53] #47 closed

[2021-08-19 07:39] WossomGonzo opened #81 "No parameters hints after installing"
When I use vscode without the plugin installed, I can issue <code>ctrl</code>-<code>shift</code>-<code>space</code> to trigger the parameter hint popup and it works.

But after I install the plugin this key sequence doesn't work any more.

Version: 1.59.0
Commit: 379476f0e13988d90fab105c5c19e7abc8b1dea8
Date: 2021-08-04T23:13:20.182Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.

[2021-08-19 13:47] tm1000 commented on #81
Hi there.

The parameter hint pop up is embedded deep into vscode. This plug-in isn't able to disable that by any means. You may have other conflicts or issues going on.

[2021-08-19 23:00] tm1000 commented on #81
So I have both https://marketplace.visualstudio.com/items?itemName=bmewburn.vscode-intelephense-client installed and this plugin and I am still able to see parameter hints. If I disable intelephense then I don't see them at all. Since this plugin just interfaces with https://github.com/vimeo/psalm the error appears to be within https://github.com/vimeo/psalm

The returned responses for me look lik

[2021-08-20 06:25] WossomGonzo commented on #81
Sorry Andrew, I think I am not following you :-(

However I have narrowed down the issue. You were right, the key combination shows the parameters hint _except_ when a class have the magic method `__invoke()`.

Foe example, in the following code if I have the psalm plugin disabled and I position the cursor in the `$plusOne()`, it shows the correct parameter hint if I press the combination keys. Bu

[2021-08-20 12:11] thbley2 opened #82 "Go to definition gives "Cannot read property 'kind' of null""
When I try to go to the definition of a method, it's sometimes not working without an error message and sometimes I get:

ERR Cannot read property 'kind' of null: TypeError: Cannot read property 'kind' of null
	at b (/config/.local/share/code-server/extensions/getpsalm.psalm-vscode-plugin-2.1.0/dist/extension.js:1:193027)
	at k (/config/.local/share/code-server/extensions/getpsalm.psalm-vscode-plu

[2021-08-20 14:18] tm1000 commented on #81
You'll need to report this in the main repository. I will attempt to look into this but I'm closing this issue because it technically has nothing to do with this project and instead is an issue on the main project

[2021-08-20 14:24] tm1000 commented on #82
Looks like I'll need to figure out how to get JavaScript maps to work to be able to track this down correctly

[2021-08-20 15:57] thomasbley commented on #82
The code I tested with does not use __invoke().

[2021-08-20 16:57] tm1000 commented on #82
Can you provide an example?

[2021-08-28 20:09] glen-84 opened #84 "Could not resolve path to config /d:/.../psalm.xml"
I don't think that the colon is supposed to be there.

Something is converting a Windows path to a Linux path incorrectly, it seems.

This extension worked previously (pre-2.0).

[2021-08-30 19:39] tm1000 commented on #84
The colon isn't the issue it's the prefixed slash

[2021-08-30 20:20] glen-84 commented on #84
I only have:

[code]

Config file is [here](https://github.com/glen-84/phpcs-standard/blob/a015e6070cc96b10fbaca635b46dedd66eaad301/psalm.xml).

[2021-08-30 21:51] tm1000 commented on #84
Try declaring the path directly through configuration:

[code]

[2021-09-02 18:12] glen-84 commented on #84
It doesn't work even if I use an absolute path like:

[code]

If I ctrl+click on that path, the file opens in VSC.

[2021-09-02 20:30] tm1000 commented on #84
The code that is causing this is:

[code]

`vscode.workspace.findFiles` is an internal function to vscode (I do not control it). For you it's returning 0 results. Will have to investigate this further

[2021-09-09 13:57] tm1000 opened #92 "Include distributable phar as fallback"
Work is done in: https://github.com/psalm/psalm-vscode-plugin/tree/feature/include-phar

However this is essentially blocked if Psalm has plugins because of: https://github.com/vimeo/psalm/issues/2905#issuecomment-663007843

[2021-09-09 13:58] tm1000 opened #93 "Report language server crashes"

[2021-09-16 15:41] Ambrosia commented on #84
A less than ideal workaround is to insert the following code in `vendor/vimeo/psalm/src/Psalm/Internal/CliUtils.php:581`:

[code]

This will remove the leading slash if the first path segment is a Windows drive letter. You'll have to add this each time you update psalm.

[2021-09-16 15:44] tm1000 commented on #84
@Ambrosia is this a psalm issue though? Seems to be with the plug-in for vscode.

[2021-09-16 15:50] Ambrosia commented on #84
Nah, it's still vscode's fault, not psalm itself. I just wrote this as a quick workaround until it it gets fixed for real. I found it easier to just modify psalm than to figure out how to do it in this extension itself.

[2021-09-17 19:16] #84 closed

[2021-09-17 19:32] tm1000 commented on #84
Fixed in 2.2.3

[2021-09-17 22:36] #93 closed

[2021-09-17 22:44] tm1000 commented on #79
#20 should be a command

[2021-09-18 12:53] designermonkey opened #104 "Psalm not installed error"
I work on many projects with different languages, yet every time I work on a project that does not use PHP and have psalm installed in a vendor project folder I get an error.

Would it be possible to look for psalm in fallback folders?

[code]

Or, if there is no composer.json file in the current folder, look at the user home folder file?

[2021-09-18 12:53] designermonkey commented on #104
![Screenshot 2021-09-18 at 13 45 15](https://user-images.githubusercontent.com/221344/133889447-1d6e932d-6735-4b27-ad84-802f51f053c1.png)

[2021-09-18 14:02] tm1000 commented on #104
You can add these paths in the .vscode folder under settings.json for each project

[2021-09-18 17:28] designermonkey commented on #104
I've probably muddied two concerns here, so thanks for the response but please actually ignore that request.

The actual issue is that I should not be getting warnings or errors about Psalm for projects that are not using PHP. Maybe there needs to be some code that looks for the presence of a composer.json file in the root. If it's not there turn off any Psalm functionality in the extension.

[2021-09-18 17:31] tm1000 commented on #104
The plug-in has three activation events: Any php file, any psalm.xml or psalm-dist.xml file. One of those is being met in your project I assume?

Looking for composer.json only works for people using composer. Which is not every user of psalm.

[2021-09-18 17:59] designermonkey commented on #104
I have subprojects within this monorepo that have psalm.xml files as they are PHP. I see above that that would cause the issue and didn't realise that's how it was checking.

As the extension is looking for config in a glob path of `**` then would it not make sense to look for a language server at the path where it finds a php file or psalm config?

I've attempted to change the script path setting

[2021-09-20 21:04] tm1000 commented on #104
The path to the language server is not a glob, you should be setting `vendor/bin/psalm-language-server`

The issue with this extension randomly trying to find a language server and then using that is that it could be searching vendor folders and finding one that is deeply nested and perhaps an old version.

Additionally a monorepo is not a good usage of the psalm vscode plugin, the reasoning is th

[2021-09-21 06:44] tm1000 opened #105 "Undefined array key 2"
Issue Type: <b>Bug</b>

# Behaviour

## Expected

XXX

## Actual

XXX

## Steps to reproduce:

[**NOTE**: Self-contained, minimal reproducing code samples are **extremely** helpful and will expedite addressing your issue]

1.

# Diagnostic data

-   PHP version: PHP 8.0.9 (cli) (built: Jul 30 2021 13:04:16) ( NTS )
Copyright (c) The PHP Group
Zend Engine v4.0.9, Copyright (c) Zend Technologies

[2021-09-21 08:25] designermonkey commented on #104
I'm not trying to use it this way. I'm trying to stop having errors display where there aren't any.

How about this:

[code]

As the psalm config needs to be at the root of the project, this makes most sense.

[2021-09-21 15:39] designermonkey commented on #104
I thought I was being quite polite about all this, but from the tone of your last message, I think I shan't bother!

I don't keep requesting, I've made one request and I thought I was in a discussion to find a possible answer.

Theres no need to get short about this, as you didn't actually state that at all, you said about `composer.json`. I'm just trying to come up with any possible solution.

I

[2021-09-21 16:00] tm1000 commented on #104
Hi there

Please remember this is all text based communication. You can't actually see or hear the tone on my voice or what I am thinking.

I'm not trying to be short. I'm trying to come to a solution together that will work for the community as a whole not a one off case.

I thank you for your input thus far. Remember that many open source projects are worked on through a voluntary basis. Like th

[2021-09-21 23:31] tm1000 opened #106 "Undefined array key 1"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

# Behaviour

## Expected

XXX

## Actual

XXX

## Steps to reproduce:

[**NOTE**: Self-contained, minimal reproducing code samples are **extremely** helpful and will expedite addressing your issue]

1.

# Diagnostic data

-   PHP version: PHP 8.0.9 (cli) (built: Jul 30 2021 1

[2021-09-22 20:05] tm1000 opened #107 "UnexpectedValueException: Expecting non-empty $root_file_path and $checked_file_path"
Issue Type: <b>Bug</b>

# Behaviour

## Expected

XXX

## Actual

XXX

## Steps to reproduce:

[**NOTE**: Self-contained, minimal reproducing code samples are **extremely** helpful and will expedite addressing your issue]

1.

# Diagnostic data

-   PHP version: PHP 8.0.9 (cli) (built: Jul 30 2021 13:04:16) ( NTS )
Copyright (c) The PHP Group
Zend Engine v4.0.9, Copyright (c) Zend Technologies

[2021-11-02 11:53] danog opened #120 "Extension stuck on starting"
The extension seems to be stuck on startup, with only this in the extension logs:

[code]

No PHP or Psalm process can be found in the process list.

Edit: After disabling TCP mode for the LS, I'm now getting a version error for my custom fork of psalm with tag `4.10.0.11`, would be nice if this extended versioning scheme didn't cause a crash :)

[2021-11-02 13:40] tm1000 commented on #120
Please post the error as without it I can't be if any help

[2021-11-02 13:48] #120 closed

[2021-12-09 14:31] betovidal opened #134 "Is it possible to use a global psalm installation?"
Hello! I made a global installation of psalm like:

`composer global require vimeo/psalm`

However, I keep getting the error "Psalm is not installed", when I open vscode.

The instructions are pretty clear about installing psalm as a local dependency, inside my project folder, however for other language servers (python-language-server, typescript-language-server) it's possible to have a single glo

[2021-12-10 04:43] Pictor13 commented on #134
I fixed that with `which psalm` and setting the value into psalm-plugin setting _"Psalm Script Path"_.

[2021-12-10 06:12] betovidal commented on #134
Thanks a lot @Pictor13 ! In case another newbie like me stumbles upon this:

`which psalm` will yield something like "/home/user/.config/composer/vendor/bin/psalm", however I needed to link it to "/home/user/.config/composer/vendor/bin/**psalm-language-server**"

And this configuration goes into the user's configuration settings.json:
[code]

[2021-12-10 06:12] #134 closed

[2021-12-30 18:24] tm1000 commented on #106
Fixed in https://github.com/vimeo/psalm/issues/6559

[2021-12-30 18:24] #106 closed

[2021-12-30 18:26] tm1000 commented on #105
Fixed in https://github.com/vimeo/psalm/issues/6559

[2021-12-30 18:26] #105 closed

[2021-12-30 23:51] tm1000 opened #136 "Support `quickfix`"
See: https://github.com/vimeo/psalm/pull/7255

[2022-01-02 16:46] tm1000 commented on #107
Fixed in 4.17.0

[2022-01-02 16:46] #107 closed

[2022-01-02 16:47] tm1000 commented on #136
Merged into master (likely 4.18.0)

[2022-01-02 16:47] tm1000 commented on #9
Merged into master (likely 4.18.0)

[2022-01-03 17:30] #9 closed

[2022-01-03 17:30] #136 closed

[2022-01-12 08:01] PythooonUser opened #141 "Error Logs Automatically Put Themselves In The Foreground"
## Summary
When there is an error with psalm, e.g. the parsing failed of a PHP file, then the logs in the output window get shown automatically.

This happens without any user interaction, and most often at a moment when I'm using the VS Code console. But also when the console view is not expanded, the logs will appear automatically.

## Expectation
I would expect that the logs do not get shown so

[2022-01-12 10:00] PythooonUser opened #142 "Psalm Breaks On Syntax Error"
## Summary
The psalm extension breaks when there is a syntax error (e.g. missing closing `}`).

## Steps to Reproduce
- Create new Symfony project using `$ symfony new .`
- Optional: Install `maker-bundle` in order to create Controller stub using `$ composer require --dev maker`, `$ composer require doctrine/annotations`, `$ php bin/console make:controller GrumpyPopsicleController`

The generated

[2022-01-12 10:08] PythooonUser opened #143 "Request For Running Psalm Upon Updating Document State"
## Summary
Currently, it seems that Psalm only analyzes a document when you save it. E.g. for a syntax error, the error message only appears after saving, and disappears only after saving when fixing it.

Under certain circumstances this update seems to work without saving, probably because of some caching of a previous document state?

## Expected Behavior
I would expect Psalm to report errors on

[2022-01-12 14:50] tm1000 commented on #143
Hi there

I can tell you that this works 100% on change and not only save. I'm not sure what you've got going on but a coworker of mine just complained that he wishes it wouldn't update on change.

In fact I was just working on the language server yesterday and it definitely updates on change without needing to save.

[2022-01-12 14:51] #143 closed

[2022-01-12 14:53] tm1000 commented on #142
Thanks for the report.

This is actually an error with upstream vimeo/psalm so you'd need to report the error there in the future. This project merely interfaces with Vimeo/psalm.

Regardless it's already been fixed as of two days ago (by me). It just hasn't been released yet.

[2022-01-12 14:54] #142 closed

[2022-01-12 14:56] tm1000 commented on #141
Hi there

I have no control over this as a plug-in developer. This is part of vscode itself. You should report the error to Microsoft as there is no where in the code I redirect you to the output console on errors.

[2022-01-12 14:56] #141 closed

[2022-01-12 15:01] tm1000 commented on #143
Here's the comment from my coworker from yesterday for reference

[2022-01-12 15:29] PythooonUser commented on #141
Hey :wave:

Yeah, I had a look at `src/LoggingService.ts` and you just forward the logs to VS Code it seems.

Alright, thanks. I just observed this behavior for this extension only so far.

[2022-01-12 15:33] PythooonUser commented on #142
Hey :wave:

Thanks for the heads-up!

I wonder about the last part of the error logs. `[Error] Connection to server got closed. Server will not be restarted.`

It seems that the extension does not gracefully exits when VS Code crashes/deactivates it? Could, of course, be a VS Code issue again. I see a lot of callbacks in the stack trace.

[2022-01-12 15:37] PythooonUser commented on #143
Hey :wave:

Funny. So, do you consider making it an option?

Why did your co-worker suggest this? Low performance?

I can't think of any other system that only works on save (other than formatters).

[2022-01-12 15:45] tm1000 commented on #143
The internal mechanics of psalm don't lend themselves to live editing. Psalm was written first as a static analyzer you run after you are done editing. Later the original author added the language server, which is quite nice, however it uses php-parser to analyze files and that gets very confused when you have syntax errors and such as you are live typing. Most often this causes errors (as seen in

[2022-01-12 15:48] tm1000 commented on #142
In vscode main after a language server crashes more than 5 times in the span of 3 minutes then vscode will abort the running of the extension. This is to protect the stability of vscode and the host system

I've been trying to go through psalms language server and just try catching most places where this crashes because in the end the language server should almost never crash

[2022-01-12 15:50] tm1000 commented on #141
I've also tried to override the message vscode shows you on a crash. It works locally in development but stopped working once deployed. I suspect this is a security feature to protect the integrity of vscode during crashes.

[2022-01-12 16:55] PythooonUser commented on #143
I understand. Have you had a look at the https://github.com/microsoft/tolerant-php-parser project? It's unfortunately not ready for production yet and switching the parser backend is no easy task.

On the other hand, it makes sense for a linter to work on syntactically correct code only.

I've also seen some confusion going on, as I'm using the intelephense extension, along with sonarlint. Ranges

[2022-01-12 16:56] PythooonUser commented on #142
With the next version of Psalm then hopefully even less :) Thanks for fixing.

[2022-01-12 17:01] tm1000 commented on #143
I'm merely the guy who works on the vscode extension and then also some bugs and features for the language server. Changing psalms parser out would be a gigantic task. The parser they use now was written and maintained by the lead developer of php's c codebase for the last 10 years or so.

Are you saying you see errors sticking around from intelephense?

[2022-01-12 17:04] tm1000 commented on #143
Also I wonder what the use case scenario Microsoft is going with there. Are they going to write a replacement for the Felix (not you the other Felix) intelisense php extension that broken about a year ago?

[2022-01-12 17:06] tm1000 commented on #143
Got my answer: https://github.com/microsoft/tolerant-php-parser/issues/351#issuecomment-789289998

[2022-01-12 17:08] PythooonUser commented on #143
I just mentioned the parser because it is specifically designed for IDE usage, so it can handle incomplete code. Not sure what the plan for implementation is. The original author left the project time ago.

The behavior is really erratic. Not sure which completion items/hovers/errors etc. have issues. Sometimes it updates only on save, sometimes it does on change. Recently the ranges got messed up

[2022-01-12 17:14] tm1000 commented on #143
Ok yes. I have seen what you are talking about. If you wish you can open a new bug here for me to track it as opening it up on the upstream might be confusing to the maintainers and they don't use the LSP

I thought about reopening this ticket as well but it has nothing to do with the onChange as that does work. The issue is in the underlying project analysis code of psalm (again psalm was written

[2022-01-12 17:15] tm1000 commented on #143
I'm also wondering if applying --no-cache to the server start would help somewhat

[2022-01-12 21:54] tm1000 commented on #143
I think I know the issue with this. When live typing the projectAnalyzer is being told to analyze that file many many times. I believe it gets "stuck" while analyzing and is actually returning a result from a previous request but not processing additional requests until the first request has been processed.

The best way to probably deal with this is a debounce method that can debounce the functio

[2022-01-13 07:49] PythooonUser commented on #143
Hey,

two things.

Regarding the "getting stuck". Can I help in providing a failing functional test of sorts? And can we prevent the analyzer from getting stuck in the first place?

Also, you propose to add a delay before each execution? And if no changes happened in that time, fire the analyzer?
I know that VS Code adds an increasing `version` for a document whenever it changes. The analyzer coul

[2022-01-13 14:43] tm1000 commented on #143
Well another thing on the version. The version can actually be passed back out to publishDiagnostics which I believe helps the IDE discard lower values as well. The issue in psalm is that there's no way to get the version from didChange to publishDiagnositics in a reliable way without some serious changes

I added a delay into psalm using amp (the async library psalm uses) but that didn't seem to

[2022-01-17 18:26] PythooonUser commented on #143
Hey, @tm1000.

Do you have an upstream ticket I can have a look at? Or can you point me to the particular code section? I have not worked with the Psalm codebase before, so I can't promise anything :)

Thanks for looking into this!

[2022-01-28 01:19] palansher opened #148 "Broken pipe error"
Hello! thank you for your work!

Do you have any idea why this amphp (psalm dependency) error is rising almost after every code change?

All trace attached.

VSCODE 1.6.2  + ssh remote
Windows 10 x64

[code]
[errors.log](https://github.com/psalm/psalm-vscode-plugin/files/7954949/errors.log)

[2022-01-28 01:21] tm1000 commented on #148
For windows you should enable TCP mode (it's in settings)

[2022-01-28 01:31] palansher commented on #148
thank you!

I did it
![image](https://user-images.githubusercontent.com/24850253/151470872-0f6d8aa7-91e0-45d8-957f-10edd400de2a.png)

Unfortunately during code changing now I have a little different error:

![image](https://user-images.githubusercontent.com/24850253/151471272-25c8623c-28d5-4c14-9c00-adfaf5a902aa.png)

Which "main repository" you have mentioned?

[code]

[2022-01-28 01:49] palansher commented on #148
in output also:

  Code: -32603
[Info  - 4:47:23 AM] Connection to server got closed. Server will restart.
[Error - 4:47:42 AM] Request textDocument/codeAction failed.
  Message: InvalidArgumentException: Could not get file storage for /home/vladp/dev/sites/gt-vladp-dev1/src/paymenttodriver/settings/settingsinterface.php in /home/vladp/dev/sites/gt-vladp-dev1/vendor/vimeo/psalm/src/Psalm/Internal/

[2022-01-28 01:50] tm1000 commented on #148
There seems to be something wrong with your system. You have no storage.

Anyways the code base your are looking for is Vimeo/psalm. There is no php code here.

[2022-01-28 01:50] #148 closed

[2022-01-28 01:51] tm1000 commented on #148
https://github.com/vimeo/psalm

[2022-01-28 04:49] tm1000 commented on #148
These errors are already fixed upstream

https://github.com/vimeo/psalm/pull/7384

The last release was 19 days ago. So you'll have to wait for another release

[2022-01-28 06:36] orklah commented on #148
4.19.0 has been released

[2022-01-28 09:55] palansher commented on #148
Now is much much better! Such a relief !! Thank you for the tips!

[2022-01-28 10:23] palansher opened #149 ""error" marks appear in strange places"
Hello!

Very useful extension. Yet daily it fu..s my brain :(

There are two most important problems:

1) pls look at the picture
Probably, it is related to cache.
But vendor/bin/psalm --clear-global-cache  does not help.
I also tried to reopen the file and make some changes in types definitions - no luck.

2)
Also, almost every time extension does not get in attention to new code after variable/c

[2022-01-28 12:05] palansher commented on #149
Looks like sporadic messages. It underlines even parts of words.
![image](https://user-images.githubusercontent.com/24850253/151543992-379f7e15-d725-4f2e-b2a1-aa3636c9fd8a.png)

[2022-01-28 12:42] palansher commented on #149
The pointless case of  "non-referenced/ non-used variable error"

![image](https://user-images.githubusercontent.com/24850253/151548611-05e198e3-0e92-432c-8a42-4b99c46a817c.png)

[2022-01-28 14:45] tm1000 commented on #149
This is technically an issue in upstream and nothing this plug-in can do

For more details see: https://github.com/psalm/psalm-vscode-plugin/issues/143

I plan to work on it in my free time but you should post this but report over there

[2022-01-28 14:45] #149 closed

[2022-06-21 17:49] shaneparsons opened #176 "PHP / Psalm installed in docker container"
I have php / psalm running in a docker container... I've tried various different config options trying to get this plugin to find psalm in that container, but there doesn't seem to be any support for such a workflow... Any ideas / tips? Anybody else have success with something similar?

[2022-06-21 18:47] weirdan commented on #176
Psalm (including the language server) does work in container, however there's currently no support for mapping the paths between host machine and the container. There's a PR in the Psalm repo to address this: vimeo/psalm#8026

[2022-07-17 13:08] tncrazvan commented on #104
That feature is not available yet is it? ( https://github.com/microsoft/vscode/issues/2809 )

Until that comes, I've managed to track down a bit of what's happening in the code using a workspace of mine.
The issue seems to be this line https://github.com/psalm/psalm-vscode-plugin/blob/5bb291cf1a4d06291f57b4d155c513af51ff94eb/src/extension.ts#L40

it's picking the first workspace of the bunch, whic

[2022-07-17 13:43] tncrazvan commented on #104
@tm1000 or maybe restarting the language server with a different workspace, that seems even better? I'll send a pr soon enough.

[2022-07-17 14:16] tm1000 commented on #104
@tncrazvan you can add paths without variables. Just use relative paths. It's been working this way for years. Launching multiple language servers seems pretty intensive and the way the io stream works I don't think you can't do this without modifying psalm itself to support multiple workspaces.

[2022-07-17 14:49] tncrazvan commented on #104
Do you mean [these](https://code.visualstudio.com/docs/editor/variables-reference#_predefined-variables)?

They don't seem to work at least not in my case.
I tried
[code]

and

[code]

When debugging the extension it looks like those don't get resolved, they just stay the way they are as `${fileWorkspaceFolder}/vendor/bin/psalm-language-server` and `${workspaceFolder}/vendor/bin/psalm-language-ser

[2022-07-17 15:00] tm1000 commented on #104
That's not a relative path. That's a path with a variable (which isn't supported)

I don't know how your system is setup but relative paths work just fine for me and for plenty of other projects and other extensions

A relative path is just that. Relative to the root.

`"psalm.psalmScriptPath": "vendor/bin/psalm-language-server"`

At my company we use this all day long as there are about 4-5 of us

[2022-07-17 17:08] tncrazvan commented on #104
ok, so this

at first glance does not work for me.

I think it's because the first project in my workspace does not have psalm installed.

I'll agree with you 100% that someone trying to use psalm should install psalm (duh).

In my case it's been a long time since I worked on that specific workspace and I didn't check if psalm was even installed in all projects, but I made sure it was installed on

[2022-07-17 17:13] tm1000 commented on #104
Go ahead and make the PR but this extension does not support workspaces in the way this thread proposes and I don't think it ever will. Essentially you'd need to launch a separate psalm server for every workspace you've got in there and that would end up being crazy on cpu and ram usage.

If you open up each workspace individually it would work. This is how most people use vscode. Each project is

[2022-07-17 17:23] tncrazvan commented on #104
here `$HOME/.config/Code/User/settings.json` or from the ui, is that wrong?

[2022-07-17 17:24] tm1000 commented on #104
Yes. It's looking in the root of your entire file system for psalm. You normally set the paths per project

[2022-07-17 18:03] tncrazvan commented on #104
I've set the path inside the workspace file (the `.code-workspace` file)

The workspace file is the following in my case:

[code]
and it's still crashing.

I've tried the same thing at the project level (inside the `.vscode/settings.json` file), still crashing.

I'll go ahead and make the pr, if someone can take a look at it or make a better one that would be nice because having all projects in on

[2022-07-25 22:55] tm1000 commented on #104
The solution @tncrazvan figured out resolves this issue. Checkout 2.7.0 🥳!

[2022-07-25 22:55] #104 closed

[2022-07-25 23:07] tm1000 commented on #176
My team uses docker all day long. We actually execute and run psalm outside of the docker instance (so we use our local php binaries). This works well in our case and has been that way for the last 2 years we've been using psalm. We have about 4-5 developers working this way and don't experience issues.

The way the plugin itself works is through STDIO pipes but you can also configure it to connec

[2022-07-29 21:05] siberry opened #189 "Report from VS code"
Issue Type: <b>Bug</b>

# Behaviour

## Expected

XXX

## Actual

XXX

## Steps to reproduce:

[**NOTE**: Self-contained, minimal reproducing code samples are **extremely** helpful and will expedite addressing your issue]

1.

# Diagnostic data

-   PHP version: PHP 7.4.30 (cli) (built: Jun  9 2022 09:20:03) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies

[2022-07-29 21:12] tm1000 commented on #189
The error is the psalm version could not be determined because you are using it from a development branch. This isn't a bug

[2022-07-29 21:12] #189 closed

[2022-07-29 21:13] shaneparsons commented on #176
Hey @tm1000, sorry for the delay. That sounds great though! similar to what https://github.com/plotbox-io/psalm-docker-vscode is doing actually.

In working to get the other plugin working in vscode I actually ran into some issues with the container not being able to see the outside, even though I was able to ping it just fine. I think it had to do with the port being randomized, so the ability to

[2022-07-31 09:42] austinried opened #190 "Ability to disable tooltips/ctrl+click definitions"
I'm using this extension in combination with PHP Intellisense (https://github.com/zobo/vscode-php-intellisense) because I really like the static analysis (especially type hints/rules) that I can get from psalm, but also I want the good auto-complete suggestions I get from PHP Intellisense.

My problem is that both of these extensions seem to be adding tooltips when hovering over functions/classes/

[2022-08-01 17:06] tm1000 commented on #190
I've already done the work for this in my fork of Psalm (which will be submitted to Psalm proper at some point in the future).

See: https://github.com/tm1000/psalm/blob/feature/upgrade-lsp/src/Psalm/Internal/Cli/LanguageServer.php

The option would be `--enable-provide-hover=false`

[2022-08-01 17:06] #190 closed

[2022-08-02 04:04] austinried commented on #190
Great to hear, I see there are some additional options I'd be interested in there as well.  Hopefully that can get merged in soon, but I may look into running your branch in the meantime if that's viable.

Is there any other work that would need to be done in the extension to enable those options, or would they just be available through the command line args setting for the LSP?

[2022-08-02 04:56] tm1000 commented on #190
You can run that branch it's running 4.22 as of last week and my team currently uses it. You'll want to "force" the version of psalm through the extension and yes for now you'll need to set the options through the cli settings. I'll be putting those options into the extension once the changes get merged and it gets published

[2022-08-04 13:40] 0x00A1FA opened #191 "Node Child Process Always Exits – Psalm: Exited (Should Restart)"
Hello,

I've been encountering this issue for a while now. Psalm always exits after briefly showing in the status bar "Psalm: starting".

What could be the problem? The code for the `child_process` exit is 255.

[2022-08-04 13:42] tm1000 commented on #191
What is displayed in the output window. Please post it here

[2022-08-04 13:55] 0x00A1FA commented on #191
Hi! Thanks for the quick reply.

I did not know that there is such a thing as an output window. Very clever.

Output below:
[code]

I fixed it by increasing the `memory_limit` from `php.ini` from 512 MB to 4 GB.

Thanks!

[2022-08-04 13:55] #191 closed

[2022-08-04 13:56] 0x00A1FA commented on #48
Hello! How may I help? Can you outline a roadmap?

[2022-08-04 13:57] 0x00A1FA commented on #79
Hasn't this been resolved?

[2022-08-04 18:28] #79 closed

[2022-08-04 18:30] tm1000 commented on #48
@0x00A1FA there you go I put up a roadmap. I just moved the stuff from 2.5 (now that we are on 2.7) into this and additionall marked that 3.x depends on my branch being merged into master (when I get to that)

[2022-08-04 18:31] tm1000 commented on #92
Closing as I'm not going to do this (though it could work like phpactor where it pulls from github if something doesnt exist)

[2022-08-04 18:31] #92 closed

[2022-08-04 18:32] tm1000 commented on #16
see: https://github.com/tm1000/psalm/tree/feature/upgrade-lsp

[2022-08-04 18:32] #16 closed

[2022-08-11 07:05] mika4president opened #192 "Keeps crashing"
Issue Type: <b>Bug</b>

# Behaviour

## Expected

XXX

## Actual

XXX

## Steps to reproduce:

[**NOTE**: Self-contained, minimal reproducing code samples are **extremely** helpful and will expedite addressing your issue]

1.

# Diagnostic data

-   PHP version: PHP 8.1.7 (cli) (built: Jun  9 2022 14:21:07) (NTS)
Copyright (c) The PHP Group
Zend Engine v4.1.7, Copyright (c) Zend Technologies
    w

[2022-08-11 12:54] tm1000 commented on #192
You'll need to report this to Psalm

[2022-08-11 12:54] #192 closed

[2022-11-18 14:13] kamlekar opened #207 "psalm server crashing"
Type: <b>Bug</b>

# Behaviour

## Expected

XXX

## Actual

XXX

## Steps to reproduce:

[**NOTE**: Self-contained, minimal reproducing code samples are **extremely** helpful and will expedite addressing your issue]

1.

# Diagnostic data

-   PHP version: PHP 8.1.11 (cli) (built: Sep 29 2022 20:02:53) (NTS)
Copyright (c) The PHP Group
Zend Engine v4.1.11, Copyright (c) Zend Technologies
    with

[2022-11-18 15:02] tm1000 commented on #207
You just copied the bug template and added nothing to it